<html xmlns:th="www.thymeleaf.org">

<head>
    <title>Thông tin sách</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>

<body>

    <div class="container">

        <header>

			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" th:href="@{/}">LBStore</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active"><a class="nav-link"
							th:href="@{/}">Trang Chủ<span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item"><a class="nav-link" th:href="@{/about}">Thông
								Tin</a></li>
						<li class="nav-item dropdown">
						    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						        Thể loại
						    </a>
						    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
						        <a class="dropdown-item" href="/login">Văn Học</a>
						        <a class="dropdown-item" href="#">Khoa Học và Kiến Thức</a>
						        <a class="dropdown-item" href="#">Nghệ Thuật và Âm Nhạc</a>
						        <a class="dropdown-item" href="#">Du Lịch và Phiêu Lưu</a>
						        <a class="dropdown-item" href="#">Sách Thiếu Nhi</a>
						        <a class="dropdown-item" href="#">Sách Kỹ Năng Sống</a>
						        <a class="dropdown-item" href="#">Lịch Sử và Chính Trị</a>
						        <a class="dropdown-item" href="#">Sách Học Ngoại Ngữ</a>
						    </div>
						</li>
						<li class="nav-item"><a class="nav-link" th:href="@{#}">Gợi
								ý sách</a></li>
					</ul>

					<form class="form-inline my-2 my-lg-0 pr-5">
						<input class="form-control mr-sm-2" type="search"
							placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm
							Kiếm</button>
					</form>
					<ul class="navbar-nav mr-auto">
						<li class="nav-item"><a class="nav-link" th:href="@{/register}">Đăng ký</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/login}">Đăng
								nhập</a></li>
					</ul>
				</div>
			</nav>
		</header>
        


        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-fluid d-flex align-items-stretch float-right pr-5" style="max-height: 500px;"
                        th:src="'data:image/jpeg;base64,' + ${image.getImgData(book.getBookImage())}" alt="Book Image" />
                </div>
                <div class="col-md-6">
                    <h2 class="mb-4" th:text="${book.getBookName()}">Tên sách</h2>
                    <p class="mb-2"><strong>Thể loại:</strong> <span th:text="${book.getBookType()}">Thể loại sách</span>
                    </p>
                    <p class="mb-2"><strong>Tác giả:</strong> <span th:text="${book.getBookAuthor()}">Tác giả sách</span>
                    </p>
                    <p class="mb-2"><strong>Số lượng:</strong> <span th:text="${book.getBookQuantity()}">0</span></p>
                    <p class="mb-2"><strong>Giá:</strong> <span th:text="${book.getBookPrice()}">0.0</span></p>
					
					<div class="mt-4">
		                <a th:href = "@{/login}"
							class="btn btn-success">Thêm vào giỏ 🛒</a>
           		 	</div>
                    
                    <h4 class="mt-4">Mô tả</h4>
                    <p th:text="${book.getBookDescription()}">Mô tả sách</p>
                </div>
            </div>
        </div>
		
		
    
        <section class="footer mt-5">
            <div class="container">
                <div class="row">
                  
                    <div class="col-md-4">
                        <h4>Chức Năng</h4>
                        <p>Thông tin</p>
                        <p>Thể loại</p>
                        <p>Gợi ý sách</p>
                    </div>
                  
                    <div class="col-md-4">
                        <h4>Cửa hàng sách</h4>
                        <p><i class="fa fa-phone-square"></i> 0339734274</p>
                        <p><i class="fa fa-envelope"></i> thanhlongvh2@gmail.com</p>
                        <p><i class="fa fa-home"></i> Trang chủ</p>
                    </div>
                   
                    <div class="col-md-4">
                        <h4>Chức Năng</h4>
                        <p>Đăng Kí</p>
                        <p>Giỏ hàng</p>
                        <p>Tìm kiếm</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

</body>

</html>
